.header__nav {
  padding: 0px 20px;
}
.movies {
  min-height: calc(100vh - 70px - 64px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  gap: 1rem;
}
.year {
  width: 80px;
  height: 80px;
  bottom: -40px !important;
}
.year i {
  line-height: 74px;
}
.filter {
  margin-top: 35px;
}
.filter label:nth-child(2) {
  margin-left: 65px;
}
.filter label:nth-child(3) {
  margin-left: 195px;
}
